html {
  scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}







@media (max-width: 354px) {

	.img-fluid {
    width: 100% !important;
    max-width: 250px !important;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }

	.btn-signin {
		padding: 4px 65px 4px 65px !important;
	}

	.btn-help {
    padding: 4px 30px 4px 30px !important;
  }

  .login {
		padding: 10px 20px 20px 20px !important;
		border-radius: 0 !important;
		box-shadow: none !important;
	}

	.container {
		box-shadow: none !important;
	}

	.card {
		width: 20rem !important;
		margin-top: 10px;
	}

  .main {
  	display: none;
  }

  body {
  	background: #F5F9FC;
  }

}

@media (min-width: 355px) and (max-width: 576px) {

	.img-fluid {
    width: 100% !important;
    max-width: 250px !important;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

	.login {
		padding: 10px 20px 20px 20px !important;
		border-radius: 0 !important;
		box-shadow: none !important;
	}

	.container {
		box-shadow: none !important;
	}

	.card {
		width: 20rem !important;
		margin-top: 10px;
	}

	.btn-signup {

	}

	.btn-signin {
		padding: 4px 65px 4px 65px !important;
	}

	.btn-help {
    padding: 4px 30px 4px 30px !important;
  }

  .login-center {
  	display: flex;
  	justify-content: center;
  }

  .main {
  	display: none;
  }

  body {
  	background: #F5F9FC;
  }



}


@media (min-width: 400px) and (max-width: 576px) {

	.card {
		width: 25rem !important;
	}

	.img-fluid {
		width: 100% !important;
    max-width: 300px !important;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
	}

	.btn-signin {
		padding: 4px 85px 4px 85px !important;
	}




}

@media (min-width: 577px) and (max-width: 767px) {
	
	.img-fluid {
    width: 100% !important;
    max-width: 330px !important;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .login {
		padding: 10px 20px 20px 20px !important;
		border-radius: 0 !important;
		box-shadow: none !important;
	}

	.container {
		box-shadow: none !important;
	}

	.card {
		width: 28rem !important;
		margin-top: 10px;
	}

	body {
  	background: #F5F9FC;
  }

  .main {
  	display: none;
  }

  .login-center {
  	display: flex;
  	justify-content: center;
  }

  .btn-signin {
		padding: 4px 100px 4px 100px !important;
		margin-left: 5px;
	}
	.btn-help {
    padding: 4px 55px 4px 55px !important;
  }
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.comp {
		display: none;
	}
	.img-fluid {
		margin-top: 70px !important;
	}
	.card {
		width: 20rem !important;
		margin-top: 50px;
	}
	.login-center {
  	display: flex;
  	justify-content: center;
  }
  .btn-signin {
		padding: 4px 60px 4px 60px !important;
		margin-left: 5px;
	}
	.btn-help {
    padding: 4px 30px 4px 30px !important;
  }
  .login {
  	padding-top: 20px;
  }
  .btn-signup {
  	margin-right: 5px;
  }
  .info {
  	font-size: .8rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

	.comp {
		display: none;
	}
	.img-fluid {
		margin-top: 70px !important;
	}
	.card {
		width: 25rem !important;
		margin-top: 50px;
	}
	.login-center {
  	display: flex;
  	justify-content: center;
  }
  .btn-signin {
		padding: 4px 100px 4px 100px !important;
		margin-left: 5px;
	}
	.btn-help {
    padding: 4px 35px 4px 35px !important;
  }
  .login {
  	padding-top: 20px;
  }
  .btn-signup {
  	margin-right: 5px;
  }
	
}

@media (min-width: 1200px) {

	.comp {
		display: none;
	}
	.img-fluid {
		margin-top: 70px !important;
	}
	.card {
		width: 25rem !important;
		margin-top: 50px;
	}
	.login-center {
  	display: flex;
  	justify-content: center;
  	padding-right: 50px !important;
  }
  .btn-signin {
		padding: 4px 100px 4px 100px !important;
		margin-left: 5px;
	}
	.btn-help {
    padding: 4px 35px 4px 35px !important;
  }
  .login {
  	padding-top: 20px;
  }
  .btn-signup {
  	margin-right: 5px;
  }

  .card-title {
  	font-size: 2rem !important;
  }

  .card-body p {
  	font-size: 1.2rem !important;
  }
  .form-label {
  	font-size: 1rem !important;
  }
  .ps-1 p {
  	font-size: 1rem !important;
  }
	
}







































